{% extends "layout.html" %}

{% block body %}

<br><br><br><br><br><br><br><br>
 <h1 style = "text-align:center; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;" ><b>Возврат авиабилетов</b></h1><br>
 <div class="row">
 <div class = "col-md-8 offset-md-2" style = "font-size: 30px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;" >

 <p>Tezbilet.ru не продаёт билеты, а ищет где их купить дешевле. Бронированием и продажей авиабилетов занимаются наши партнеры.</p>
 <p>Для того, чтобы сделать возврат авиабилета или его перебронировать, Вам необходимо связаться с агентством, у которого Вы заказали авиаперелёт.</p>
 <p>Найдите агента, у которого бронировали билет и созвонитесь с ним. Назовите имя и фамилию, даты маршрута и направление. Оператор найдет вашу бронь и поможет решить Вашу задачу.</p>
  <br><br><br>
 </div>

 </div>

  <script charset="utf-8" type="text/javascript" src="http://air.tezbilet.ru/iframe.js"></script>




{% endblock body %}

